.box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.whiteboard{
    flex-shrink: 2;
    width:100%;
    height: 1600px;
}

.comment{
    flex-shrink: 1;
    width:400px;
}